[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
comet-ml = "*"
jupyter = "*"
pandas = "*"
lightgbm = "*"
sklearn = "*"
mlflow = "*"
optuna = "*"
cloudpickle = "*"

[requires]
python_version = "3.6"
